HF_BUNDLE_REPO=TruLumecreator/immaculate-q-cloud-bundles
HF_JOB_NAMESPACE=TruLumecreator
HF_JOB_FLAVOR=a10g-small
HF_JOB_TIMEOUT=4h
HF_JOB_IMAGE=python:3.12
HF_JOB_MODE=dry-run
IMMACULATE_Q_TRAINING_BOOTSTRAP=auto
HF_JOB_SMOKE_FLAVOR=cpu-basic
HF_JOB_SMOKE_TIMEOUT=5m
WANDB_MODE=offline
